.train_item {
  display: flex;
  margin-bottom: 53px;
  padding-top: 54px;
}

.station_name {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: #928f94;
}

.departure_datetime {
  font-weight: 700;
  font-size: 24px;
}

.departure_date {
  font-weight: 400;
  font-size: 18px;
  color: #928f94;
  margin-bottom: 17px;
}

.landing_stations {
  font-weight: 400;
  font-size: 18px;
}

.orange_arrow {
  width: 30px;
  height: 20px;
}

.train_item_arrow {
  margin-left: 23px;
  margin-right: 30px;
}

.travel_time {
  color: #c4c4c4;
}

.train_info_left,
.train_info_right {
  padding-top: 54px;
  padding-bottom: 23px;
}

.departure_left {
  text-align: right;
}

@media (max-width: 1450px) {
  .train_item {
    flex-direction: column;
    width: 250px;
    gap: 20px;
  }
  .departure_left {
    text-align: left;
  }
}

@media (max-width: 800px) {
  .train_item {
    width: 180px;
  }
}

@media (max-width: 730px) {
  .train_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }

  .train_item_from,
  .departure_left {
    width: 42%;
  }

  .train_item_arrow {
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .departure_left {
    text-align: right;
  }
}

@media (max-width: 340px) {
  .train_item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
