.input_container {
    position: relative;
}

.cities_box {
    position: absolute;
    width: 100%;
    background-color: #F5F4F6;
    /* overflow: hidden; */
    z-index: 1;
    margin-top: 5px;
    border-radius: 3px;
    max-height: 255px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 28px;
    padding-top: 14px;
    padding-right: 22px;
    padding-bottom: 15px;
    overflow: scroll;
}

.city {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.form_container {
  max-width: 1400px;
  position: relative;
  background-color: rgba(41, 41, 41, 0.8);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.select_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.search_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* opacity: 0.8; */
  
  
  color: #000;
  flex: 1;
  height: 574px;
  
}

.form_title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  z-index: 1;
  margin-bottom: 9px; 
}


.choose_direction {
  display: flex;
  align-items: center;
  gap: 0px;
}

.choose_data {
  display: flex;
  align-items: center;
}

.input {
  width: 322px;
  height: 60px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  padding: 0 12px;
  color: #000;
  outline: none;
  background-color: #fff;
}

.submit_btn {
  height: 60px;
  width: 322px;
  /* position: absolute; */
  right: 0;
  color: #292929;
  font-size: 24px;
  font-weight: 700;
  margin-top: 79px;
  background: #ffb800;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.submit_btn a {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  color: #292929;
}

