.stages {
  background-color: #ffa800;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stages_color {
  position: absolute;
  height: 98px;
  background-color: #3e3c41;
  width: calc((100vw - var(--container-size)) / 2);
  right: 0;
}

.stages_btns {
  display: flex;
  height: 98px;
}

.stages_btn {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #3e3c41;
  overflow: hidden;
  border: none;
  flex: 1;
  z-index: 0;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
}

.title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-left: 21px;
}

.arrow {
  right: 20px;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  height: 98px;
  width: 98px;
  transform: rotate(45deg) translate(-37%, 40%);
  z-index: -1;
}

.stage_title {
  display: flex;
  height: 100%;
  align-items: center;
  z-index: 0;
  padding-right: 20px;
  padding-left: 13px;
  flex: 1;
}

@media (max-width: 1450px) {
  .stages_color {
    width: calc((100vw - var(--adaptive-container-size)) / 2);
  }
  .stage_title {
    padding-right: 0;
  }
  .title {
    margin-left: 10px;
    font-size: 24px;
  }
}

@media (max-width: 1270px) {
  .title {
    font-size: 20px;
  }
  .number {
    width: 40px;
    height: 40px;
  }
  .stage_title {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 930px) {
  .title {
    font-size: 14px;
  }
  .number {
    width: 26px;
    height: 26px;
    padding: 16px;
  }
}

@media (max-width: 770px) {
  .number {
    width: 26px;
    height: 26px;
    padding: 16px;
  }
  .stages_btn {
    border-right: 1px solid var(--light-color);
  }
  .arrow {
    display: none;
  }
  .title {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .number {
    width: 20px;
    height: 20px;
  }
  .title {
    display: none;
  }
}
