.pagination_number {
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
  width: 85px;
  height: 75px;
  background-color: #fff;
  color: #928f94;
  border: 1px solid #c4c4c4;
}

.caret_wrapper {
  display: flex;
  gap: 35px;
}

.caret_left,
.caret_right {
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
  width: 84px;
  height: 75px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
}

.active {
  background-color: #ffa800;
  color: #fff;
  border: none;
}

.pagination_number:hover {
  border-color: orange;
  color: orange;
}

.active:hover {
  background: orange;
  color: white;
}

.caret_left img:hover,
.caret_right img:hover {
  transform: scale(1.1);
}

@media (max-width: 530px) {
  .caret_left img {
     width: 16px;
  }
}

@media (max-width: 380px) {
  .caret_wrapper {
    gap: 20px;
  }
}
