.payment_top {
    background-color: #F9F9F9;
}

.payment_top_text {
    padding-top: 34px;
    padding-bottom: 36px;
}


.payment_initials_text {
  font-weight: 400;
  font-size: 16px;
  color: #928f94;
  margin-bottom: 8px;
}

.arrow {
  width: 12px;
  height: 6px;
  position: absolute;
  right: 22px;
  top: 45%;
  pointer-events: none; /* чтобы не мешала клику */
}

.payment_initials_wrapper {
  display: flex;
  /* padding-right: 36px;
  padding-left: 36px; */
  gap: 25px;
  margin-top: 45px;
}

.payment_initials {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.payment_initials_input {
  width: 280px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #928f94;
  font-weight: 400;
  font-size: 24px;
  padding-left: 15px;
}


