.payment_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.payment_main {
    border: 1px solid #c4c4c4;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.payment_top {
    background-color: #F9F9F9;
    padding-left: 35px;
    border-bottom: 1px dashed #928F94;
    border-top: 1px dashed #928F94;
}

.payment_top_text {
    padding-top: 34px;
    padding-bottom: 36px;
    font-size: 30px;
    font-weight: 400;
    
}


.payment_initials_text {
  font-weight: 400;
  font-size: 16px;
  color: #928f94;
  margin-bottom: 8px;
}

.arrow {
  width: 12px;
  height: 6px;
  position: absolute;
  right: 22px;
  top: 45%;
  pointer-events: none; /* чтобы не мешала клику */
}

.payment_initials_wrapper {
  display: flex;
  gap: 25px;
  margin-top: 45px;
  padding: 0 35px;
}

.payment_initials {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 54px;
}

.payment_initials_input {
  width: 280px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #928f94;
  font-weight: 400;
  font-size: 24px;
  padding-left: 15px;
}

.email,
.phone {
  width: 360px;
  font-weight: 400;
  font-size: 24px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  color: #292929;
}

.contact_details {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}

.contact_details_wrapper {
  padding: 0 35px;
}
.online_payments {
  margin-top: 52px;
}
.online_bottom {
  display: flex;
  gap: 50px;
  margin-top: 28px;
  margin-bottom: 64px;
  border-bottom: 1px dashed #928F94;
  padding-left: 35px;
  padding-bottom: 64px;
}

.online_bottom p {
  color: #292929;
  font-weight: 700;
  font-size: 24px;
} 

.label,
.label_email {
  font-size: 16px;
  font-weight: 400;
  color: #292929;
  margin-bottom: 8px;
}

.payment_label {
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  padding-left: 35px;
}

.payment_input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.payment_box {
  width: 28px;
  height: 28px;
  border: 1px solid #928f94;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  flex-shrink: 0;
}

.payment_input:checked + .payment_box::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 2px;
  width: 8px;
  height: 15px;
  border: solid #ffa800;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.payment_input:checked + .payment_box {
  border-color: #ffa800;
}

.payment_text {
  font-size: 30px;
  color: #928f94;
  transition: 0.2s;
}

.payment_input:checked + .payment_box + .payment_text {
  color: #ffa800;
}

.cash_block {
  margin-bottom: 83px;
}

.right_number {
  color: green;
}

.wrong_number {
  color: red;
}

.inputError {
  border: 1px solid red;
  background-color: #fff2f2;
}

@media (max-width: 1070px) {
    .payment_wrapper {
        align-items: normal;
    }
    .payment_initials_wrapper {
      flex-direction: column;
    }
    .payment_initials {
      margin-bottom: 0;
    }
    .phone {
      width: 100%;
    }
    .email {
      width: 100%;
    }
    .payment_initials_input {
      width: 100%;
    }
    .contact_details {
      margin-top: 50px;
    }
   
}

@media (max-width: 630px) {
    .payment_top_text {
        font-size: 24px;
    }
    .online_bottom p {
      font-size: 20px;
    }
    .payment_text {
      font-size: 24px;
    }
}

@media (max-width: 530px) {
   .online_bottom  {
      flex-direction: column;
      gap: 20px;
    }
   .online_bottom p {
      font-size: 24px;
    }
}

@media (max-width: 370px) {
  .payment_top {
    padding-left: 10px;
  }
}

