.header_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../../../public/img/header-bg.png");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.top_bar {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.logo {
  background-image: url("../../../../src/assets/icons/railway_service.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.hero_grid {
  display: flex;
}

.update_icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 20px;
  opacity: 0.85;
}

.navLink:hover {
  opacity: 1;
}

.search_tickets {
  flex: 1; 
  display: flex;
  align-items: flex-end;
}

.search_tickets_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.search_tickets_text {
  flex: 1;
}

.title_thin {
  font-size: 48px;
  font-weight: 100;
  color: #fff;
}

.title_bold {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}



.line {
    position: absolute;
  width: 100vw;
  height: 4px;
  left: 0;
  background-color: #ffb800;
}

/* headerlogo*/
.logo_container {
    width: 1400px;
    margin: 0 auto;
}

