

.main_wrapper {
  display: flex;
  gap: 84px;
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 95px;
}

/* .main_wrapper {
  display: flex;
  gap: 32px;
} */

.info_btn {
  display: none;
}

@media (max-width: 1450px) {
   .main_wrapper {
    display: block;
    position: relative;
  }
  .sidebar_order_wrap {
     position: absolute;
    top: 100px;
    left: 30px;
    z-index: 1500;

    transform: translateX(-130%);
  }

  .sidebar_enter {
    transform: translateX(-130%);
  }

  .sidebar_enter_active {
    transform: translateX(-30px);
    transition: transform 300ms ease;
  }

  .sidebar_enter_done {
    transform: translateX(-30px);
  }

  .sidebar_exit {
    transform: translateX(-30px);
  }

  .sidebar_exit_active {
    transform: translateX(-130%);
    transition: transform 300ms ease;
  }

  .sidebar_exit_done {
    transform: translateX(-130%);
  }
  .info_btn {
  display: flex;
     align-items: center;
    justify-content: center;

    /* position: fixed; */
    top: 120px;
    left: 20px;
    z-index: 3000;

    width: 64px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color: #ffa800;
    font-size: 28px;
    cursor: pointer;
  
}
}