.cap {
  display: flex;
  justify-content: space-between;
  background-color: #f7f6f6;
  margin-top: 32px;
  padding-left: 35px;
  padding-top: 17px;
  padding-right: 50px;
  padding-bottom: 26px;
}

.train_number {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.passengers_row {
  display: flex;
  /* height: 192px; */
}

.passengers_card {
  flex: 1;
  background-color: #f7f6f6;
  padding: 10px 36px;
  border: 1px solid #f7f6f6;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.passengers_input {
  border: 1px solid #928f94;
  border-radius: 5px;
  background-color: #fff;
  width: 240px;
  height: 50px;
}

.passengers_wr {
  display: flex;
  flex-direction: column;
}

.icons_wrapper {
  display: flex;
  justify-content: space-around;
}

.content_seats {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding-top: 36px;
}

.choose_text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.choose_train_btn {
  border: 1px solid #292929;
  border-radius: 5px;
  height: 60px;
  background-color: #ffffff;
  width: 325px;
}

.choose_train_btn a {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}

.btn_text {
  font-weight: 700;
  font-size: 24px;
  color: #292929;
  text-align: center;
}

.btn_next {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  background-color: #FFA800;
  border: none;
  border-radius: 5px;
  padding-left: 74px;
  padding-right: 69px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn_next_wrapper {
  display: flex;
  justify-content: flex-end;
}

.choose_train_wrapper {
  display: flex;
  gap: 10px;
  padding-left: 19px;
  padding-right: 11px;
}

.train_text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  color: #3e3c41;
}

.train_time {
  display: flex;
  gap: 10px;
  align-items: center;
}

.clock_travel {
  width: 30px;
  height: 30px;
}

.train_time_text {
  /* width: 156px; */
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.number_tickets {
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
  color: #292929;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 19px;
}

.card_line {
  border-bottom: 1px solid #C4C4C4;
  height: 1px;
  padding-top: 49px;
}

.type_train {
  font-weight: 700;
  font-size: 30px;
  padding-top: 27px;
  padding-bottom: 44px;
  color: #292929;
  padding-left: 19px;
}
