.select {
  position: relative;
  width: 280px;
}

.selectTrigger {
  /* width: 100%; */
  height: 50px;
  padding: 0 18px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: #292929;
}

.dropdown {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  background: #f7f5f9;
  border: 1px solid #c4c4c4;
  border-radius: 4px 4px 5px 5px;
  box-sizing: border-box;
  z-index: 20;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.option {
  width: 100%;
  min-height: 34px;
  padding: 8px 22px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  background: #f4f3f6;
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  color: #292929;
}

.option:last-child {
  border-bottom: none;
}

.option:hover {
  background: #ebe8ef;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  flex-shrink: 0;
}

/* sort */

.sort .selectTrigger {
  min-width: 140px;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 18px;
  font-weight: 400;
  color: #292929;
  gap: 6px;
  width: auto;
  display: flex;
  align-items: baseline;
}

.sort .arrow {
  display: none;
}

.sort .dropdown {
  position: absolute;
  top: calc(100% + -50px);
  left: 0;
  min-width: 170px;
  background: #f7f5f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.sort .option {
  width: 100%;
  border: none;
  background: transparent;
  text-align: left;
  padding: 10px 12px;
  font-size: 16px;
  color: #292929;
  cursor: pointer;
}

.sort .option:hover,
.sort .activeOption {
  background: #ffa800;
  color: #fff;
}

.button_select {
  display: flex;
  align-items: baseline;
}

/* @media (max-width: 1100px) {
  .selectTrigger {
    width: 20vh;
  }
} */

@media (max-width: 690px) {
  .button {
    margin-top: 20px;
  }
}

@media (max-width: 475px) {
  .select {
    width: 100px;
  }
  .dropdown {
    width: 62vw;
  }
  /* .selectTrigger {
    width: 16vh;
  } */
}

@media (max-width: 380px) {
  .dropdown {
    width: 65vw;
  }
}
