.headerWrapper {
    background-image: url('../../../public/img/header-bg.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .headerLogo {
   
} */