.container {
  max-width: 1400px;
  margin: 0 auto;
}

.footer {
    background-color: #2D2B2F;
    /* height: 519px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 122px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    padding-left: 87px;
    padding-top: 49px;
    padding-bottom: 52px;
}

.footer_title {
    font-size: 30px;
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.footer_left {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* padding-bottom: 30px; */
}

.footer_right_box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer_block {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.footer_box {
    display: flex;
    gap: 36px;
    /* padding-bottom: 30px; */
    
}

.phone_icon {
    width: 30px;
    height: 30px;
}

.location_icon {
    width: 30px;
    height: 30px;
}

.social_icon {
    width: 30px;
    height: 30px;
    display: flex;
    gap: 36px;
}

.address {
    display: flex;
    gap: 36px;
}

.information,
.events {
    color: #E5E5E5;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

.email {
    width: 447px;
    height: 60px;
    font-size: 24px;
    font-weight: 400;
    padding-left: 21px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 3px;
}

.btn_send {
    width: 169px;
    height: 60px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: #E5E5E5;
    font-size: 24px;
    font-weight: 400;
}

.date {
    color: #E5E5E5;
    font-weight: 300;
    font-size: 24px;
}

/* .footer_bottom {
    position: relative;
 
} */

.bottom_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    /* padding-bottom: 33px; */
}

.footer__line {    
    width: 100%;   
  height: 1px;
  border-top: 1px solid #E5E5E5;
}