* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* a {
  text-decoration: none;
} */

.container {
  width: 1400px;
  position: relative;
}



/* switcher */


.css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked .css-17jyosd-MuiSwitch-thumb {
  background-color: #FFA800;
  width: 28px;
  height: 28px;
}

.css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase .css-17jyosd-MuiSwitch-thumb {
  background-color: #C4C4C4;
  width: 28px;
  height: 28px;
}


.css-rehya9-MuiSwitch-root .css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked + .css-tj8d99-MuiSwitch-track { 
  background-color: #FCDC9D;
  opacity: 1;
  height: 19px;
}
.css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase + .css-tj8d99-MuiSwitch-track {
  background-color: #ffffff;
  opacity: 1;
  height: 19px;
}

.Filters_filter__WNX9T .css-rehya9-MuiSwitch-root {
  width: 96px;
}

.css-rehya9-MuiSwitch-root .css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked {
  transform: translate(49px);
  padding: 8px;
}

.css-rehya9-MuiSwitch-root .css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase {
  padding: 8px;
}

/* swiper */


.swiper-pagination .swiper-pagination-bullet {
  width: 19px;
  height: 19px;
  background-color: #E5E5E5;
  opacity: 1;
}

 .swiper-pagination .swiper-pagination-bullet-active  {
  background-color: #C4C4C4;
 }

.input {
  width: 322px;
  height: 60px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  padding: 0 12px;
  color: #000;
  outline: none;
  background-color: #fff;
}

.react-datepicker-wrapper:first-child {
  margin-right: 20px;
}