* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* a {
  text-decoration: none;
} */

.container {
  width: 1400px;
  position: relative;
}



/* switcher */


.css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked .css-17jyosd-MuiSwitch-thumb {
  background-color: #FFA800;
  width: 28px;
  height: 28px;
}

.css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase .css-17jyosd-MuiSwitch-thumb {
  background-color: #C4C4C4;
  width: 28px;
  height: 28px;
}


.css-rehya9-MuiSwitch-root .css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked + .css-tj8d99-MuiSwitch-track { 
  background-color: #FCDC9D;
  opacity: 1;
  height: 19px;
}


.css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase + .css-tj8d99-MuiSwitch-track {
  background-color: #ffffff;
  opacity: 1;
  height: 19px;
}

.Filters_filter__WNX9T .css-rehya9-MuiSwitch-root {
  width: 96px;
}

.css-rehya9-MuiSwitch-root .css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked {
  transform: translate(49px);
  padding: 8px;
}

.css-rehya9-MuiSwitch-root .css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase {
  padding: 8px;
}

/* переопределяем стили */

.css-1e45yg4-MuiSlider-root .css-1xcmt9q-MuiSlider-thumb {
  background-color: #ffffff;
  width: 24px;
  height: 24px;
}




/* переопределяем стили */

/* swiper */


.swiper-pagination .swiper-pagination-bullet {
  width: 19px;
  height: 19px;
  background-color: #E5E5E5;
  opacity: 1;
}

 .swiper-pagination .swiper-pagination-bullet-active  {
  background-color: #C4C4C4;
 }

.input {
  width: 322px;
  height: 60px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  padding: 0 12px;
  color: #000;
  outline: none;
  background-color: #fff;
}

.react-datepicker-wrapper:first-child {
  margin-right: 20px;
}

.sidebarDivider {
    margin-right: -36px;
    border-bottom: 1px solid #E5E5E5;
    margin-left: -28px;

}

.travel_date, 
.return_date {
  padding-bottom: 8px;
}

.price_range {
  margin-top: 37px;
}

.price_text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 30px;
  color: #fff;

}

.direction_text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.from,
.to {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}