* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1400px;
  position: relative;
}

/* switcher */


.css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked .css-17jyosd-MuiSwitch-thumb {
  background-color: #FFA800;
}

.css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase .css-17jyosd-MuiSwitch-thumb {
  background-color: #C4C4C4;
}

.css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase.Mui-checked + .css-tj8d99-MuiSwitch-track {
  background-color: #FCDC9D;
}
.css-1kddok5-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase + .css-tj8d99-MuiSwitch-track {
  background-color: #ffffff;
}

/* swiper */


.swiper-pagination .swiper-pagination-bullet {
  width: 19px;
  height: 19px;
  background-color: #E5E5E5;
  opacity: 1;
}

 .swiper-pagination .swiper-pagination-bullet-active  {
  background-color: #C4C4C4;
 }

.input {
  width: 322px;
  height: 60px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  padding: 0 12px;
  color: #000;
  outline: none;
  background-color: #fff;
}
