:root {
  --container-size: 1400px;
  --adaptive-container-size: 90vw;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
  color: #292929;
  margin: 0;
  padding: 0;
}

.container {
  width: var(--container-size);
  position: relative;
}

/* switcher */


/* переопределяем стили */

/* .css-1e45yg4-MuiSlider-root .css-1xcmt9q-MuiSlider-thumb {
  background-color: #ffffff;
  width: 24px;
  height: 24px;
} */

/* переопределяем стили */

/* swiper */

.swiper-pagination .swiper-pagination-bullet {
  width: 19px;
  height: 19px;
  background-color: #e5e5e5;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #c4c4c4;
}

.input {
  width: 322px;
  height: 60px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  padding: 0 12px;
  color: #000;
  outline: none;
  background-color: #fff;
}

.react-datepicker-wrapper:first-child {
  margin-right: 20px;
}

.sidebarDivider {
  margin-right: -36px;
  border-bottom: 1px solid #e5e5e5;
  margin-left: -28px;
}

.travel_date,
.return_date {
  padding-bottom: 8px;
}

.price_range {
  margin-top: 37px;
}

.price_text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}

.direction_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.from,
.to {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.books:hover {
  fill: #ffa800;
}

.cup:hover {
  fill: #ffa800;
}

.air:hover {
  fill: #ffa800;
}

.tooltip_wrapper {
  position: relative;
  display: inline-block;
}

.wiFi:hover {
  fill: #ffa800;
}

.wiFi {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #f5f4f6;
  color: #292929;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}

.tooltip_wrapper:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.submit_btn {
  height: 60px;
  width: 322px;
  right: 0;
  color: #292929;
  font-size: 24px;
  font-weight: 700;
  /* margin-top: 79px; */
  background: #ffb800;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.submit_btn a {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  color: #292929;
}

.choose_seats {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  background-color: #ffa800;
  border: none;
  border-radius: 5px;
  padding-left: 9px;
  padding-top: 6px;
  padding-bottom: 9px;
  padding-right: 14px;
  width: 100%;
  margin-top: 18px;
}

.choose_seats a,
.btn_next a,
.btn_payment a {
  text-decoration: none;
  color: #fff;
}

.btn_next {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  background-color: #ffa800;
  border: none;
  border-radius: 5px;
  padding-left: 74px;
  padding-right: 69px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 222px;
  align-self: flex-end;
}

.btn_active {
  background-color: aquamarine;
}

@media (max-width: 1450px) {
  .container {
    width: var(--adaptive-container-size);
  }
}