.nav_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  width: var(--container-size);
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 94px;
  /* max-width: 1919px; */
  top: 64px;
  background-color: #292929;
}

.nav_text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
  justify-content: flex-start;
}

@media (max-width: 1450px) {
  .nav_container {
    width: var(--adaptive-container-size);
  }
}
