.directions_wrapper {
    display: flex;
}

.forward {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.border_directions {
    border-top: 1px solid #E5E5E5;
    margin-left: -28px;
    margin-right: -36px;
    margin-top: 32px;
}

.forward_top {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.forward_left,
.forward_right {
    display: flex;
    gap: 6px;
}

